<a href="https://colab.research.google.com/github/KamranUllahAfaq/ProgrammingforAI/blob/main/Exploratory_Data_Analysis_(EDA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.
import kagglehub
brendan45774_test_file_path = kagglehub.dataset_download('brendan45774/test-file')

print('Data source import complete.')

Data source import complete.

In [4]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('/kaggle/input/test-file/tested.csv')

df.shape

FileNotFoundError: [Errno 2] No such file or directory: '/kaggle/input/test-file/tested.csv'

In [ ]:
df.head(20)

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.describe()

In [ ]:
df.duplicated().sum()

In [ ]:
sns.countplot(x='Survived', data=df)

In [ ]:
df['Sex'].value_counts().plot(kind='pie',autopct='%0.1f%%')

In [ ]:
sns.histplot(df['Age'], bins=27, color='blue', alpha=0.6)

In [ ]:
sns.histplot(df['Fare'], bins=30, color='orange', alpha=0.6)

In [ ]:
sns.heatmap(pd.crosstab(df['Pclass'], df['Survived']),annot=True,fmt='d')

In [ ]:
sns.scatterplot(x='Age', y='Fare', data=df)

In [8]:
# Import necessary libraries
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

# Sample data
data = pd.DataFrame({
    'Age': [22, None, 24, 22, None, 24],
    'Sex': ['male', 'female', 'female', 'male', 'female', 'female'],
    'Embarked': ['B', 'B', 'C', 'C', 'C', 'S'],
    'Fare': [7.25, 71.83, 8.05, 7.25, 71.83, 8.05]
})

print("this is original dataFrame: ")
print(data)

# Define ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('age_imputer', SimpleImputer(strategy='mean'), ['Age']),         # Impute missing values in 'Age' column
        ('ohe', OneHotEncoder(), ['Sex', 'Embarked'])                     # One-hot encode 'Sex' and 'Embarked' columns
    ],
    remainder='passthrough'  # Keep all other columns as they are
)

# Apply ColumnTransformer to the data
transformed_data = preprocessor.fit_transform(data)


print("this is transformed dataFrame: ")
print(transformed_data)

# Convert transformed data back to a DataFrame for easier readability
transformed_df = pd.DataFrame(transformed_data, columns=[
    'Age', 'Sex_female', 'Sex_male', 'Embarked_B', 'Embarked_C', 'Embarked_S', 'Fare'])

# Show the result
print("Covert the transformed dataFrame into more readable: ")
print(transformed_df)

this is original dataFrame:
    Age     Sex Embarked   Fare
0  22.0    male        B   7.25
1   NaN  female        B  71.83
2  24.0  female        C   8.05
3  22.0    male        C   7.25
4   NaN  female        C  71.83
5  24.0  female        S   8.05
this is transformed dataFrame:
[[22.    0.    1.    1.    0.    0.    7.25]
 [23.    1.    0.    1.    0.    0.   71.83]
 [24.    1.    0.    0.    1.    0.    8.05]
 [22.    0.    1.    0.    1.    0.    7.25]
 [23.    1.    0.    0.    1.    0.   71.83]
 [24.    1.    0.    0.    0.    1.    8.05]]
Covert the transformed dataFrame into more readable:
    Age  Sex_female  Sex_male  Embarked_B  Embarked_C  Embarked_S   Fare
0  22.0         0.0       1.0         1.0         0.0         0.0   7.25
1  23.0         1.0       0.0         1.0         0.0         0.0  71.83
2  24.0         1.0       0.0         0.0         1.0         0.0   8.05
3  22.0         0.0       1.0         0.0         1.0         0.0   7.25
4  23.0         1.0       0.0         0.0         1.0         0.0  71.83
5  24.0         1.0       0.0         0.0         0.0         1.0   8.05

In [7]:
# Import necessary libraries
import pandas as pd
from sklearn.preprocessing import FunctionTransformer
from sklearn.compose import ColumnTransformer

# Sample DataFrame
data = pd.DataFrame({
    'Age': [22, None, 24, 22, None, 24],
    'Sex': ['male', 'female', 'female', 'male', 'female', 'female'],
    'Embarked': ['B', 'B', 'C', None, 'C', 'S'],
    'Fare': [7.25, 71.83, 8.05, 7.25, 71.83, 8.05]
})

# Custom function to impute missing values in 'Embarked'
def impute_embarked(X):
    X['Embarked'] = X['Embarked'].fillna(X['Embarked'].mode()[0])
    return X

# Create a FunctionTransformer using the custom function
embarked_imputer = FunctionTransformer(impute_embarked)

# Apply the FunctionTransformer to the data
transformed_data = embarked_imputer.fit_transform(data)

# Display the transformed DataFrame
print(transformed_data)

    Age     Sex Embarked   Fare
0  22.0    male        B   7.25
1   NaN  female        B  71.83
2  24.0  female        C   8.05
3  22.0    male        B   7.25
4   NaN  female        C  71.83
5  24.0  female        S   8.05

In [6]:
# Import necessary libraries
import pandas as pd
from sklearn.preprocessing import FunctionTransformer, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

# Sample DataFrame
data = pd.DataFrame({
    'Age': [22, None, 24, 22, None, 24],
    'Sex': ['male', 'female', 'female', 'male', 'female', 'female'],
    'Embarked': ['B', 'B', 'C', None, 'C', 'S'],
    'Fare': [7.25, 71.83, 8.05, 7.25, 71.83, 8.05]
})

print(data)
print('\n')

# Custom function to impute missing values in 'Embarked'
def impute_embarked(X):
    X = X.copy()  # To avoid modifying the original DataFrame
    X['Embarked'] = X['Embarked'].fillna(X['Embarked'].mode()[0])
    return X

# Apply the FunctionTransformer to use the custom imputation function
embarked_imputer = FunctionTransformer(impute_embarked)

# Apply ColumnTransformer with multiple transformers, including the custom transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('age_imputer', SimpleImputer(strategy='mean'), ['Age']),                  # Impute missing values in 'Age'
        ('embarked_imputer', embarked_imputer, ['Embarked']),                      # Custom imputer for 'Embarked'
        ('ohe', OneHotEncoder(), ['Sex', 'Embarked'])                              # One-hot encoding for 'Sex' and 'Embarked'
    ],
    remainder='passthrough'  # Pass through other columns like 'Fare'
)

# Transform the data
transformed_data = preprocessor.fit_transform(data)

print(transformed_data)

    Age     Sex Embarked   Fare
0  22.0    male        B   7.25
1   NaN  female        B  71.83
2  24.0  female        C   8.05
3  22.0    male     None   7.25
4   NaN  female        C  71.83
5  24.0  female        S   8.05


[[22.0 'B' 0.0 1.0 1.0 0.0 0.0 0.0 7.25]
 [23.0 'B' 1.0 0.0 1.0 0.0 0.0 0.0 71.83]
 [24.0 'C' 1.0 0.0 0.0 1.0 0.0 0.0 8.05]
 [22.0 'B' 0.0 1.0 0.0 0.0 0.0 1.0 7.25]
 [23.0 'C' 1.0 0.0 0.0 1.0 0.0 0.0 71.83]
 [24.0 'S' 1.0 0.0 0.0 0.0 1.0 0.0 8.05]]

In [5]:
# Import necessary libraries
import pandas as pd
from sklearn.preprocessing import FunctionTransformer, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

# Sample DataFrame
data = pd.DataFrame({
    'Age': [22, None, 24, 22, None, 24],
    'Sex': ['male', 'female', 'female', 'male', 'female', 'female'],
    'Embarked': ['B', 'B', 'C', None, 'C', 'S'],
    'Fare': [7.25, 71.83, 8.05, 7.25, 71.83, 8.05]
})

print(data)
print('\n')

# Custom function to impute 'Embarked'
def impute_embarked(X):
    X = X.copy()  # Avoid modifying the original DataFrame
    X['Embarked'] = X['Embarked'].fillna(X['Embarked'].mode()[0])
    return X

# Create a pipeline for the 'Embarked' column
embarked_pipeline = Pipeline(steps=[
    ('imputer', FunctionTransformer(impute_embarked, validate=False)),
    ('onehot', OneHotEncoder())  # Drop the first category to avoid dummy variable trap
])

# Apply ColumnTransformer with the defined pipeline
preprocessor = ColumnTransformer(transformers=[
    ('age_imputer', SimpleImputer(strategy='mean'), ['Age']),
    ('embarked_encoder', embarked_pipeline, ['Embarked']),
    ('ohe', OneHotEncoder(), ['Sex'])  # Drop the first category for Sex as well
], remainder='passthrough')  # Pass through other columns like 'Fare'

# Transform the data
transformed_data = preprocessor.fit_transform(data)

# Check the shape of the transformed data
print("Shape of transformed_data:", transformed_data.shape)

# Get names of one-hot encoded columns for 'Embarked' and 'Sex'
embarked_columns = preprocessor.named_transformers_['embarked_encoder'].named_steps['onehot'].get_feature_names_out(['Embarked'])
sex_columns = preprocessor.named_transformers_['ohe'].get_feature_names_out(['Sex'])

# Construct the complete column names
columns = ['Age'] + list(sex_columns) + list(embarked_columns) + ['Fare']

# Convert transformed data back to a DataFrame
transformed_df = pd.DataFrame(transformed_data, columns=columns)

# Show the result
print(transformed_df)

    Age     Sex Embarked   Fare
0  22.0    male        B   7.25
1   NaN  female        B  71.83
2  24.0  female        C   8.05
3  22.0    male     None   7.25
4   NaN  female        C  71.83
5  24.0  female        S   8.05


Shape of transformed_data: (6, 7)
    Age  Sex_female  Sex_male  Embarked_B  Embarked_C  Embarked_S   Fare
0  22.0         1.0       0.0         0.0         0.0         1.0   7.25
1  23.0         1.0       0.0         0.0         1.0         0.0  71.83
2  24.0         0.0       1.0         0.0         1.0         0.0   8.05
3  22.0         1.0       0.0         0.0         0.0         1.0   7.25
4  23.0         0.0       1.0         0.0         1.0         0.0  71.83
5  24.0         0.0       0.0         1.0         1.0         0.0   8.05